*{
    font-family: 'Roboto';
}

section{
    height: 500px;
    padding-bottom: 50 px;
}

.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;

}

.name{
    color: brown;
    font-size: 30px;
}

.half-width{
    width: 40%;
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 75%;
}

.hire{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(34, 162, 247), rgb(3, 42, 148));
    padding: 5px 10px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 15px;
    font-weight: 5px;
}

.dream-banner{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}

.resume{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(34, 162, 247), rgb(3, 42, 148));
    padding: 5px 10px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 15px;
    font-weight: 5px;
}



/* Latest work */


.latest{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
}

.one-third{
    width: 28%;
    float: left;
    margin-top: 3%;
    margin-left: 3%;
    padding-left: 2%;
}

.one-third img{
    width: 75%;
}

.one-third{
    width: 28%;
    float: left;
    margin-top: 3%;
    margin-left: 3%;
    padding-left: 2%;
} 

.work-list img:hover{
    transform: scale(1.05);
}

/* Footer */

.about{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
}

.client{
    font-size: 40px;
    margin: 20px 20px 10px;
}

.ceo-name{
    font-size: 30px;
    margin-bottom:0%;
}

.ceo{
    margin-top: 0%;
    font-size: 15px;
    color: gray;
    
}

.mail{
    width: 40%;
    background-image: linear-gradient(45deg, rgb(34, 162, 247), rgb(3, 42, 148));
    padding: 50px 10px;
    
    color: aliceblue;
}

#center {
    border: 5px solid;
    border-radius: 20px;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.to{
    margin-bottom: 0%;
    text-align: center;
    font-size: 15px;
}

.contact-mail{
    margin-top: 0%;
    text-align: center;
    font-weight: 20px;
}


.contact{
    text-align: center;
}

.copyright{
    text-align: center;
    color: darkgray;
}